doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body 
		include pug/header
		main.main
			include pug/hero
			include pug/catalog
			include pug/about
			include pug/quiz
			include pug/team
			include pug/faq
			include pug/contacts
			include pug/instagram
		include pug/footer 

		script(src="js/app.min.js") 